In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv('dataset_Facebook.csv',sep=";" )
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

CREATE DATA SUBSETS

In [13]:
df1 = df[['Page total likes', 'Category', 'Post Month' , 'Post Weekday']].loc[0:15]
df1

    Page total likes  Category  Post Month  Post Weekday
0             139441         2          12             4
1             139441         2          12             3
2             139441         3          12             3
3             139441         2          12             2
4             139441         2          12             2
5             139441         2          12             1
6             139441         3          12             1
7             139441         3          12             7
8             139441         2          12             7
9             139441         3          12             6
10            139441         2          12             5
11            139441         2          12             5
12            139441         2          12             5
13            139441         2          12             5
14            138414         2          12             4
15            138414         2          12             3

In [14]:
df2 = df[['Page total likes', 'Category', 'Post Month' , 'Post Weekday']].loc[16:30]
df2

    Page total likes  Category  Post Month  Post Weekday
16            138414         3          12             3
17            138414         1          12             2
18            138414         3          12             2
19            138414         3          12             1
20            138414         2          12             1
21            138414         1          12             7
22            138414         1          12             7
23            138414         3          12             7
24            138414         2          12             6
25            138458         2          12             6
26            138458         2          12             5
27            138458         3          12             5
28            138895         2          12             5
29            138895         1          12             4
30            138895         2          12             4

In [15]:
df3 = df[['Page total likes', 'Category', 'Post Month' , 'Post Weekday']].loc[31:50]
df3

    Page total likes  Category  Post Month  Post Weekday
31            138895         2          12             3
32            138895         3          12             3
33            138895         3          12             2
34            138895         1          12             2
35            138895         2          12             1
36            138895         3          12             1
37            138895         1          12             7
38            138895         2          12             7
39            138895         1          12             7
40            138895         2          12             6
41            138895         1          12             6
42            138353         1          12             5
43            138353         1          12             5
44            138353         1          12             4
45            138353         1          12             4
46            138353         1          12             3
47            138353         1          12             3
48            138353         1          12             2
49            138353         1          12             2
50            138353         2          11             1

SORT DATA

In [16]:
sort_values=df.sort_values('Page total likes', ascending=False)
sort_values

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
12,139441,Photo,2,12,5,10,0.0,2847,5133,193,115,133,3779,2072,152,0,90.0,14.0,104
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

SHAPE AND RESHAPE DATA

In [17]:
shaping=df.shape
shaping

(500, 19)

In [18]:
reshapping_arr = np.array([1, 2, 3, 4, 5, 6])
reshapping_arr.reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [19]:
pivot_table = pd.pivot_table(df, index=['Type', 'Category'], values= 'like')
print(pivot_table)

                       like
Type   Category
Link   1          75.650000
       2          32.000000
       3          68.000000
Photo  1         126.000000
       2         235.857143
       3         219.753333
Status 1         136.333333
       2         182.552632
       3         151.500000
Video  1         231.428571

In [20]:
pivot_table = pd.pivot_table(df, index=['Type', 'Category'], values= 'comment')
print(pivot_table)

                   comment
Type   Category
Link   1          2.900000
       2          2.000000
       3          2.000000
Photo  1          5.897297
       2         11.692308
       3          6.913333
Status 1          4.333333
       2          9.921053
       3          2.750000
Video  1         12.285714